@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}


.heading-1 {
    font-weight: 600;
    font-size: 65px;
}

.carousel-caption p {
    font-size: 18px;
    top: 2rem;
}

.slider-btn {
    margin-top: 30px;
}

.slider-btn .btn {
    background-color: rgb(13, 122, 185);
    color: white;
    font-size: 1rem;

}

/* .padding {
    padding: 50px 210px 0px;
    margin: 0px 50px;
} */